<%- include layouts/header.ejs %>
    
        <h2>It's a Node and Cassandra CRUD demo application.</h2>
        <p>
        First &nbsp;<a class="a-inside init" href="/cassandrainfo">Click to initialize Cassandra</a>&nbsp; database!
        </p>

        <p>
           <a class="a-inside init" href="/init_cassandra_orm">Click to initialize Cassandra using ORM</a>&nbsp; 
                </p>
        
<%- include layouts/footer.ejs %>
